<h1>New Meetups</h1>

<form method="post" action="/meetups">
    <div>
        <label>Title</label>
        <br>   
        <input type="text" name="title" />
    </div>
    <div>
        <label>Description</label>
        <br>        
        <textarea type="text" name="description" ></textarea>
        
    </div>
    <div>
        <label>Date</label>
        <br>   
        <input type="date" name="date">
    </div>

    <div>
        <label>Start Time</label>
    <br>   
        <input type="date" name="startTime">
    </div>

    <div>
        <label>End Time</label>
    <br>   
        <input type="date" name="endTime">
    </div>
    
    
    <div>
        <input type="submit" value="Submit Form" />
    </div>
</form>