<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
    </ul>
  </div>
</nav>

<div class="FrontCover mt-5">
    <img src="/images/Beach.png">
    <div class="title">
        <div>The Real world is calling</div>
    </div>
    <div class="centered border border-info mt-1"><p>Join Meetup</p></div>
</div>
<div>
    <div class="container mt-3">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">Join Movement</li>
            <li class="list-group-item">Learn to cook</li>
            <li class="list-group-item">Train for Marathon</li>
            <li class="list-group-item">Build Mobile app</li>
            <li class="list-group-item">Hike Mountain</li>
            <li class="list-group-item">Practice languages</li>
            <li class="list-group-item">Learn Judo</li>
        </ul>
    </div>
    <hr>
</div>



<footer class="footer">
    <div class="foot">

    </div>
</footer>